<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Создание нового пользователя</title>
</head>
<body>
<form th:method="post" th:action="@{/admin}" th:object="${newuser}">
    <label for="username">Введите username для нового пользователя </label>
    <input type="text" th:field="*{username}" id="username">
    <br/>
    <label for="password">Введите пароль для нового пользователя </label>
    <input type="password" th:field="*{password}" id="password">
    <br/>
    <label for="firstname">Введите имя нового пользователя </label>
    <input type="text" th:field="*{firstName}" id="firstname">
    <br/>
    <label for="lastname">Введите фамилию нового пользователя </label>
    <input type="text" th:field="*{lastName}" id="lastname">
    <br/>
    <label for="age">Введите возраст нового пользователя </label>
    <input type="text" th:field="*{age}" id="age">
    <br/>
    <label>Roles:
        <input type="checkbox" name="roleList"
               th:each="role : ${roleList}"
               th:text="${role.getName()}"
               th:value="${role.id}"
               th:field="*{roles}"/>
    </label>
    <hr>
    <br/>
    <input type="submit" value="Создать нового пользователя!">
</form>
<br/>
<hr>
<form th:action="@{/logout}" th:method="POST">
    <input type="submit" value="Разлогиниться!">
</form>
</body>
</html>