<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<html lang="en">
<head>
    <title>User Info</title>
</head>
<body>
<h1><span th:text="${loginusername}"></span>, welcome to spring boot security page!</h1>
<div>Пользователь:
    <div> id = <span th:text="${user.getId()}"></span>,</div>
    <div> username = <span th:text="${user.getUsername()}"></span>,</div>
    <div> first name = <span th:text="${user.getFirstName()}"></span>,</div>
    <div> last name = <span th:text="${user.getLastName()}"></span>,</div>
    <div> age = <span th:text="${user.getAge()}"></span>,</div>
    <div> roles = <span th:text="${user.getRoles()}"></span></div>
</div>
<hr>
<form th:action="@{/logout}" th:method="POST">
    <input type="submit" value="Разлогиниться!">
</form>
</body>
</html>